.textoNosotros{
    font-family: 'Cinzel', serif; 
    text-align:center;
  }
   
.textoRosa{
    color: #FFD9ED !important;
    text-align: center;
    font-family: 'Libre Bodoni', serif;
}
.textMin{
    font-family: 'Libre Bodoni', serif;
}
.titulos{
    font-family: 'Permanent Marker', cursive;
}