@import"responsive";

// movil responsive

@each $contenedores in llaveros,
polaroids, cuadros {
    .#{$contenedores} {
        background-image: url("../imagenes/#{$contenedores}.jpg");
    }
}

.contenedor {
    height: 8rem;
    background-size: cover;
    background-position: 70% 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 2rem;

    &__titulo {
        background-color: rgba(255, 255, 255, 0.925);
        margin-bottom: -0.5rem;
        text-align: center;
        width: 100%;
        font-size: 6vw;
        padding: 1.5vw;
        cursor: hand;
        cursor: pointer;
        font-family: "Nunito Sans", sans-serif;
        letter-spacing: 0.1rem;
        -webkit-text-stroke: 1.1px black;
        color: transparent!important;
        font-weight: 900;
    }
}


// tablet responsive

@include tablet {

    .contenedor{
        &__titulo{
            font-size: 4vw;
            -webkit-text-stroke: 1.1px black;
        }
    }

    .categorias {
        display: grid;
        grid-template-areas:
            "llaveros polaroids"
            "cuadros cuadros";
        margin: 1rem;

        &__cuadros{
            grid-area:cuadros;
        }

        &__fotografias{
            grid-area: fotografias,
        }

        &__llaveros{
            grid-area:llaveros;
        }

        @include desktop{
            margin: 8vw;
        }
    }

    .contenedor {
        height: 15rem;
        margin: 1rem;

        // desktop responsive

        @include desktop {
            height: 25rem;

            &__titulo {
                font-size: 3vw;
            }
        }
    }
}