@import"responsive";

// movil responsive

@each $contenedores in llaveros,
polaroids, cuadros {
    .#{$contenedores} {
        background-image: url("../imagenes/#{$contenedores}.jpg");
    }
}

.contenedor {
    height: 5rem;
    background-size: cover;
    background-position: 70% 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 2rem;

    &__titulo {
        background-color: rgba(255, 255, 255, 0.83);
        margin-bottom: -0.5rem;
        text-align: center;
        width: 100%;
        font-size: 3vw;
        padding: 1.5vw;
    }
}


// tablet responsive

@include tablet {

    .categorias {
        display: grid;
        grid-template-areas:
            "llaveros polaroids"
            "cuadros cuadros";
        margin: 4rem;

        &__cuadros{
            grid-area:cuadros;
        }

        &__fotografias{
            grid-area: fotografias,
        }

        &__llaveros{
            grid-area:llaveros;
        }

        @include desktop{
            margin: 7rem;
        }
    }

    .contenedor {
        height: 15rem;

        // desktop responsive

        @include desktop {
            height: 25rem;

            &__titulo {
                font-size: 1.8vw;
            }
        }
    }
}