@import"responsive";

// movil responsive

@each $contenedores in mapas-estelares,
cuadros-musicales,
cuadros-personalizados,
polaroids,
llaveros {
    .#{$contenedores} {
        background-image: url("../imagenes/#{$contenedores}.png");
    }
}

.contenedor {
    height: 5rem;
    background-size: cover;
    background-position: 70% 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem;

    &__titulo {
        background-color: rgba(255, 255, 255, 0.83);
        margin-bottom: -0.5rem;
        text-align: center;

        width: 100%;
        font-size: 3vw;
        padding: 1.5vw;
    }
}


// tablet responsive

@include tablet {

    .categorias {
        display: grid;
        grid-template-areas:
            "mapas-estelares cuadros-musicales"
            "cuadros-personalizados cuadros-personalizados"
            "polaroids llaveros";
        margin: 2rem 0;
    }

    @each $contenedores in mapas-estelares,
    cuadros-musicales,
    cuadros-personalizados,
    polaroids,
    llaveros {
        .#{$contenedores} {
            grid-area: #{$contenedores};
        }
    }

    .contenedor {
        height: 15rem;

        // desktop responsive

        @include desktop {
            height: 20rem;

            &__titulo {
                font-size: 1.8vw;
            }
        }
    }
}