@import"responsive";

$font-size:10px;

.formulario{
    margin: 4rem 1rem;

    &__grid{
        display: grid;
        grid-template-areas: 
        "nombre apellido"
        "provincia localidad"
        "email celular";
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }
    
    @each $contenedores in nombre,
    apellido, provincia, localidad, email, celular, mensaje{
        .#{$contenedores} {
            grid-area: #{$contenedores};
        }
    }

    &__datos{
        font-size: $font-size;
        border: 1px solid #4b4b4b9a;
        padding: 4px;
    }

    &__mensaje{
        font-size: $font-size;
        border: 1px solid #4b4b4b9a;      
        padding: 4px;
        width:100%;
        margin-top: 1rem;
   }

   &__botonForm{
       font-size: $font-size;
       padding: 0.3rem 5rem;
       background-color:#FFD9ED;
       border: 0;
       font-family: 'Nunito Sans',sans-serif;
       font-weight: 400;
       letter-spacing: 0.3px;
    }

    &__boton{
        text-align: center;
        margin: 1rem;
    }

    @include tablet{
        margin: 8rem 10rem;
        &__datos, &__mensaje, &__botonForm{
            font-size: 16px;
        }
    }

    @include desktop{
        &__datos, &__mensaje, &__botonForm{
            font-size: 18px;
        }
    }
}