@import"responsive";

.error404 {
    text-align: center;
    padding: 3rem 0;

    &__titulo {
        font-size: 7rem;
        margin: 1rem;
    }

    &__parrafo {
        font-size: 1rem;
        margin: 1rem;
    }

    &__boton {
        font-size: 3vw;
        background-color: #FFD9ED;
        border: 0;
        padding: 0.3rem 2.5rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
        font-family: 'Nunito Sans',sans-serif;
        font-weight: 400;
        letter-spacing: 0.3px;
    }

    &__boton:hover{
        background-color:rgb(252, 176, 220);
    }

    @include tablet {
        margin: 3rem;

        &__titulo {
            font-size: 9rem;
        }

        &__parrafo {
            font-size: 1.5rem;
            margin: 2rem;
        }

        &__boton {
            font-size: 1rem;
            padding: 8px 50px;
        }
    }

    @include desktop {
        margin: 0;

        &__titulo {
            font-size: 10rem;
        }

        &__parrafo {
            font-size: 2rem;
            margin: 3rem;
        }

        &__boton {
            font-size: 1rem;
            padding: 8px 50px;
        }
    }
}