@import"responsive";

// NAVBAR

// header movil responsive

.header{
  background-image: url("../imagenes/fondo.png");
  background-color: #FFD9ED80;
  background-size: cover;
  height: auto;
  width: 100%;

  // LOGO

  &__logo{
    text-align:center;
  }

  &__logo-imagen{
    width: 5.5rem;
    margin: 0.5rem;
  }

  &__logo-titulo {
    display:none;
  }

  // MENÚ

  &__menu{
    font-size: 0.55rem;
    display: grid;
    grid-template-columns: auto auto;
  }

  &__menu1{
    display:flex;
    justify-content: flex-start;
    margin: 0 1rem 0.5rem 1rem;
  }

  &__menu2{
    display:flex;
    justify-content: flex-end;
    margin: 0 1rem 0.5rem 1rem;
  }

  &__menu-items{
    padding: 0.2rem;
  }

  // header tablet responsive
  
  @include tablet {
    height: 9.5rem;

    &__logo-imagen{
      width: 7rem;
      margin: 1rem;
    }

    &__menu{
      font-size: 1.1rem;
    }
  }
  // header laptop responsive
}



