@import"responsive";

// NAVBAR

// header movil responsive

.header {
  background-image: url("../imagenes/fondo.png");
  background-color: #FFD9ED80;
  background-size: cover;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-areas:
    "logo logo logo"
    "menu1 none menu2";
  grid-template-rows: 5rem 1.5rem;
  grid-template-columns: 55% 5% auto;

  // LOGO

  &__logo {
    grid-area: logo;
    text-align: center;
  }

  &__logo-imagen {
    width: 5.5rem;
    margin: 0.5rem;
  }

  &__logo-titulo {
    display: none;
  }

  // MENÚ

  &__menu1 {
    display: flex;
    justify-content: flex-start;
    grid-area: menu1;
    margin-left: 0.6rem;
  }

  &__menu2 {
    display: flex;
    justify-content: flex-end;
    grid-area: menu2;
    margin-right: 0.6rem;
  }

  &__menu-items {
    padding: 0.2rem;
    font-size: 0.6rem;
  }

  // header tablet responsive

  @include tablet {
    grid-template-areas:
      "menu1 logo menu2";
    grid-template-rows: 5rem;
    grid-template-columns: 45% 20% auto;
    align-items: center;


    &__menu-items {
      padding: 0.5rem;
      font-size: 1rem;
    }


    // header laptop responsive
  }

}