@import"responsive";

.card {
    border: 0;
    margin: 1rem;
}

.container {
    margin-top: 4rem;
    margin-bottom: 4rem;

    &__card-imagen {
        height: 90vw;
        object-fit: cover;
    }

    &__card-titulo {
        font-size: 4.5vw;
        text-align: center;
    }

    &__card-precio {
        font-size: 3.5vw;
        text-align: center;
        font-weight: 400;
    }

    &__card-boton {
        width: 100%;
        font-size: 3vw;
        background-color: #FFD9ED;
        border: 0;
        padding: 0.3rem 2.5rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    }

    &__verProductos {
        font-size: 1.3vw;
        margin-top: 3rem;
        text-align: center;
        font-weight: 700;
    }

    @include tablet {
        margin: 6rem auto;

        &__card-imagen {
            height: 30vw;
            width: auto;
        }

        &__card-titulo {
            font-size: 0.8rem;
        }

        &__card-precio {
            font-size: 0.7rem;
            height: 6rem;
            display:flex;
            align-items: center;
            justify-content: center;
        }

        &__card-boton {
            font-size: 0.8rem;
        }

        &__verProductos {
            font-size: 0.9rem;
        }
    }

    @include desktop {

        .card {
            margin: 2rem 1rem;
        }

        margin: 8rem auto;

        &__card-imagen {
            height: 28vw;
        }

        &__card-titulo {
            font-size: 1.2rem;
        }

        &__card-precio {
            font-size: 1rem;
            height: 6rem;
        }

        &__card-boton {
            font-size: 0.8rem;
        }
    }
}